@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import './features/auth/styles/auth.css';

@theme {
  --color-primary: #20a637;
  --color-dark: #041c0f;
  --color-secondary: #80a65b;
  --color-light: #cfddc2;
  --color-background: #e8e9e4;

  --font-title: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html {
  font-family: var(--font-inter);
}

@layer base {
  h1 {
    @apply text-3xl font-medium font-title;
  }

  input {
    @apply border p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary w-90 bg-white data-[invalid=true]:border-red-500 data-[invalid=true]:ring-0;
  }

  button {
    @apply uppercase;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white p-2 rounded-lg font-semibold hover:opacity-90 transition;
  }

  .btn-secondary {
    @apply bg-white border-2 border-primary text-primary font-medium p-1 rounded-lg hover:bg-primary hover:text-white transition duration-200;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(
    135deg,
    var(--color-background),
    var(--color-light),
    var(--color-secondary),
    var(--color-light)
  );
  background-size: 300% 300%;
  animation: gradientShift 14s ease infinite;
}

.bg-animated-gradient.paused {
  animation: none;
}

.bg-static {
  background: linear-gradient(
    135deg,
    var(--color-background),
    var(--color-light),
    var(--color-secondary),
    var(--color-light)
  );
}
